*{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Raleway', sans-serif;
}

html{
  background: #4D7D55;
}

.nav{
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 120px;
}

.logo-container{
  position: relative;
}

.logo {
  position: absolute;
  font-size: 30px;
  left: 40px;
  top: -20px;
  color: #7DCF8F;
  font-family: 'Pacifico', cursive;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  font-weight: 700;
}

.slogan{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 300px;
}

.slogan-text{
  font-weight: 600;
  font-size: 30px;
}

.slogan-text2{
  font-weight: 400;
  margin-top: 8px;
  font-size: 30px;
}

.slogan-text3{
  font-weight: 400;
  font-size: 30px;
}

.venue-header{
  margin-left:  40px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.crowd{
  position: absolute;
  width: 100%;
  left: 2px;
  top: -120px;
  mix-blend-mode: screen;
  z-index: -1;
}

.home-grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 24px;
}

.home-venue-card{
  width: 400px;
  height: 200px;
  border: 3px solid #0044B1;
  filter: drop-shadow(11px 13px 18px rgba(0, 0, 0, 0.35));
  border-radius: 29px;
  position: relative;
  transition: all .3s ease-in-out;
}

.home-venue-card:hover{
  scale: 105%;
}

.venue-name{
  position: absolute;
  bottom: 16px;
  left: 16px;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px 2px 5px black;
}

.venue-banner{
  margin: 0 auto;
  width: 1200px;
  height: 503px;
  border-radius: 34px;
  position: relative;
}

.venue-banner-name{
  position: absolute;
  bottom: 32px;
  left: 24px;
  font-size: 40px;
  font-weight: 600;
  text-shadow: 2px 2px 5px black;
}

.venue-banner-info{
  margin-bottom: 150px;
}

.venue-location{
  position: absolute;
  font-size: 25px;
  font-weight: 300;
  left: 130px;
  margin-top: 8px;
}

.venue-capacity{
  position: absolute;
  font-size: 25px;
  font-weight: 300;
  right: 130px;
  margin-top: 8px;
}

.login-page{
  display:flex;
  justify-content: center;
  align-self: center;
  min-height: 600px;
}
.login-container{
  text-align:center;
  width:400px;
  height: 60vh;
  margin: 10px;
  background-color:#7DCF8F;
  border-radius: 20px;
  box-shadow: 2px 2px 2px black;
}
.login-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  color:black;

}
.login-input{
  width: 70%;
  height: 6vh;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #69A88D ; 
  padding-left: 20px;
  margin-bottom: 10px;
  color:black;
}
.login-submit{
  width: 50%;
  height: 30px;
  border-radius: 10px;
  margin: 10px 0 10px 0px;
  color:black;
}
.login-header{
  align-self: flex-start;
  padding:0 0 0 60px ;
  margin: 0;
  color:black;
}
.login-alternates{
  border: 1px solid rgb(168, 163, 163);
  width: 80%;
  margin: 10px 10% 0px 10%;
}
.login-hider{
  width: 60px;
  color: black;
  margin: 10px;
  height: 20px;
}
.login-help{
  opacity: 0%;
  width: 155px;
  height: 170px;
  position: relative;
  left: -70px;
  top: 50px;
  background-color: #7DCF8F;
  border-radius: 10px;
  padding: 5px;
  box-shadow: 2px 2px 2px grey;
  color:black;
}
.login-hider:hover + .login-help{
  opacity: 100%;
  transition: opacity 0.25s;
}